<launch>
  <!--
    手眼标定静态TF发布器
    
    眼在手上(eye-in-hand)配置：相机安装在末端执行器上
    
    手眼标定结果 (2024-12-19):
    Translation: x=-0.006887, y=0.065183, z=-0.085832
    Rotation (quaternion): x=-0.015518, y=-0.021025, z=-0.993383, w=0.111835
    
    变换矩阵:
    [[-0.97450433  0.22284222  0.02612782 -0.00688656]
     [-0.22153716 -0.97410183  0.04524275  0.06518315]
     [ 0.03553315  0.03830097  0.99863428 -0.0858317 ]
     [ 0.          0.          0.          1.        ]]
  -->
  
  <!-- 坐标系定义 -->
  <arg name="parent_frame" default="m1n6s200_end_effector" />
  <arg name="child_frame" default="camera_link" />
  
  <!-- 手眼标定结果：末端执行器 -> 相机链接 -->
  <arg name="x" default="-0.006886560877924761" />
  <arg name="y" default="0.06518314780922749" />
  <arg name="z" default="-0.08583169582135934" />
  <arg name="qx" default="0" />
  <arg name="qy" default="0" />
  <arg name="qz" default="-1" />
  <arg name="qw" default="0" />
  <arg name="rate" default="100" />

  <!-- 发布静态变换 - 注意四元数符号修正 -->
  <node pkg="tf" type="static_transform_publisher" name="handeye_static_broadcaster"
        args="$(arg x) $(arg y) $(arg z) $(arg qx) $(arg qy) $(arg qz) $(arg qw) $(arg parent_frame) $(arg child_frame) $(arg rate)" />
  <!-- 
    相机光学帧变换: camera_link -> camera_depth_optical_frame
    ROS相机约定: optical_frame (x右, y下, z前)
    变换: 绕X轴旋转-90度，再绕Z轴旋转-90度
  -->
  <node pkg="tf" type="static_transform_publisher" name="camera_optical_frame_broadcaster"
        args="0 0 0 0 0 1 0 camera_link camera_depth_optical_frame 100" />
</launch>


